// Navigation grid layouts
.nav {
    display: grid;
    align-items: center;
    gap: var(--spacing-4);
    padding: var(--spacing-4);

    // index.html 
    &__item {
        &--dropdown {
            justify-self: last baseline;
        }

        &--cta {
            justify-self: last baseline;
        }
    }

    &--header {
        grid-template-columns: 1fr auto auto 0.5fr 10rem; // brand, features, about, language, cta

    }

    &--footer {
        grid-template-columns: 1fr auto auto auto 1fr; // brand, features, about, language, cta

    }

}